@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

html {
  background: var(--backgrond);
}

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

@media (max-width: 768px) {
  nav .menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 115vh;
    z-index: 10;
    background: var(--backgrond);
  }

  #nav.active .menu {
    display: block;
  }

  .menu-li {
    margin: 1.5rem;
    padding: 0.8rem;
    border-bottom: 1px solid #8257e5;
  }

  .logo {
    margin: 1rem;
  }

  nav .logo-desktop {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .mobile-nav {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #29292e;
    
  }

  #menu-mobile {
    font-size: 2rem;
    color: var(--button);
    cursor: pointer;
  }

  .title {
    margin-top: 5rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
  }

  .title-mobile {
    color: var(--text-color);
    margin-bottom: 5.5rem;
    text-align: center;
  }

  .title h1 span {
    color: var(--backgrond);
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
      -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  }

  .btn {
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .button {
    border: 1px solid var(--button);
    justify-content: center;
    width: 15rem;
    padding: 10px;
    text-align: center;
  }

  .container {
    text-align: center;
  }

  .home-img img {
    text-align: center;
    width: 20rem;
  }

.fundo-footer{
  background: #996DFF;
  filter: blur(150px);
    width: 100vw;
    height: 200px;
    left: 0;
    z-index: -10;
    position: absolute;
    bottom: -10rem;
  }
}

@media (min-width: 769px) {

 .fundo{
  width: 320px;
  height: 321px;
  background: #996DFF;
  filter: blur(200px);
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;
}


.fundo-footer{
  width: 320px;
  height: 321px;
  background: #996DFF;
  filter: blur(250px);
  position: absolute;
  left: 0;
  z-index: -10;
  bottom: -16rem;
}

  .mobile-nav,   
  .button-mobile, 
  .title-mobile {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  #nav .menu-li {
    display: flex;
    flex-direction: row;
    float: left;
    padding: 1.2rem;
  }

  .menu-li a:hover {
   color: var(--button); 
  }

  .title {
    margin-top: 8rem;
    font-size: 3rem;
    text-align: center;
    color: var(--text-color);
  }

  .title h1 span {
    color: var(--backgrond);
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
      -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  }

  .button {
    border: 1px solid var(--button);
    padding: 1rem;
    border-radius: 5px;
  }

  .button a {
    display: flex;
    text-align: center;
  }

  .button:hover {
    background: #8257e5;
  }

  .home-img {
    text-align: center;
  }

  body::-webkit-scrollbar {
    width: 10px;             
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(7, 7, 7);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--button);  
    border-radius: 20px;      
  }
  
}
